@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&family=Pacifico&family=Saira+Extra+Condensed:wght@500;700&display=swap');
body{
    background: linear-gradient(90deg, rgba(9,132,227,1) 0%, rgba(108,92,231,1) 100%) !important;
}
.pacman{
   margin-top: 20%;
}
.font-anton{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
}
.font-pacifico{
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
.category-header{
    margin-bottom: -8px;
}
.page-item .active-pagination a{
    background: #e83283 !important;
}
img{
    width: 100% !important;
    height: auto !important;
}
.next a{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.previous a{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.navbar{
    position: relative !important;
    z-index: 1 !important;
}
.navbar-brand{
    font-family: 'Pacifico', cursive; 
    font-size: 2.2rem !important;
    margin-top: -60px !important;
}
.logo{
    position: relative !important;
    margin-bottom: 0px !important;
}
.logo-name{
    position: absolute;
    display: inline;
    margin-top: 70px;
}
.background-header{
    background: url('/img/matrix.svg') !important;
    background-repeat: repeat !important;
    background-attachment: fixed !important;
}
.background-header h1{
    font-family: 'Pacifico', cursive; 
}
.portfolio .card a{
    color: #333333 !important;
    font-family: 'Pacifico', cursive; 
    text-decoration: none;
}
.list-group{
  position: absolute !important;
  background: none !important;
}
.search-card .list-group li{
    background-color: transparent !important;
  }
.search-card li{
    color: #333333;
}
footer .logo{
    margin-top: -60px !important;
}
footer li svg{
    text-align: center !important;
    margin: -11px 0px 200px -11px;
}
footer .fa {
    padding: 25px;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
}
footer .fa-facebook {
    background: #ffffff;
}
footer .fa-linkedin {
    background: #ffffff;
}
footer .fa-github {
    background: #ffffff;
}
.footer-brand{
    font-family: 'Pacifico', cursive !important; 
    margin-bottom: -25px;
}
.footer-brand a{
    text-decoration: none !important;
}